{% load static %}
<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <title>
            Site
        </title>
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Vente immobilier </a>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="Accueil.html" tabindex="-1" >log out</a>
            </li>
            
              
          </ul>
        </div>
      </nav>
      
     
  
    
  </div>
      <form>
        <label for="search">Rechercher :</label>
        <input type="text" id="search" name="search">
        <input type="submit" value="Rechercher">
      </form>
      <br><br>
      <form method="GET" action="{% url 'sort' %}">
      
        <span class="price">Prix</span>
        <div class="button-container">
          <button class="up-arrow" type="submit" name="up-arrow">↑</button>
          <button class="down-arrow" type="submit" name="down-arrow">↓</button>
        </div>
        <span class="price">Date</span>
        <div class="button-container">
          <button class="up-arrow" type="submit" name="old">↑</button>
          <button class="down-arrow" type="submit" name="new">↓</button>
        </div>
    </form>
    <br><br><br>
    <form method="POST" action="{% url 'filter' %}">
      {% csrf_token %} 
      <label for="min_price">Price:</label>
      <input type="number" name="min_price" id="min_price" placeholder="Min"><span> &nbsp; &nbsp; </span>
      <input type="number" name="max_price" id="max_price" placeholder="Max"><span> &nbsp; &nbsp; </span>
      <select name="state">
        <option disabled selected value> -- select an option -- </option>

        {% for item in state %}
          <option value="{{item}}">{{item}}</option>
        {% endfor %}
      </select>
    <button class="down-arrow" type="submit" name="new">Find</button>
   </form>
   <br><br>
      <div id="bot" class="container-lg" style="margin-top:20px ;"class="row">
        <div class="card-deck">
          {% autoescape on %}
          {% for item in data %}
          <div id="im0" class="col-4">
              {% if item.imagesurlslist %}
              {% if item.website == "facebook.com"%}
              <img src="{{item.imagesurlslist|first|default:''|safe}}" class="card-img-top" style="height:195px;width: 350px; " alt="">
              {% elif item.website == "remax.com.tn" or item.website == "tayara.tn" or item.website == "bnb.tn"%}
              <img src="{{item.imagesurlslist|first|default:''|safe}}" class="card-img-top" style="height:195px;width: 350px; " alt="">
              
              {% else %}
              <img src="http://{{item.imagesurlslist|first|default:''|safe}}" class="card-img-top" style="height:195px;width: 350px; " alt="">
              {% endif %}
              {% else %}
              <img src="https://atlas-content-cdn.pixelsquid.com/stock-images/simple-house-NxE5a78-600.jpg" class="card-img-top" style="height:195px;width: 350px;" alt="">
              {% endif %}
              <div class="card-body">
                  <h5>{{ item.website|safe }}{{ item.ville|safe }} | {{ item.price|safe }} TND</h5>
                  <p class="card-text">{{ item.description|slice:":50"|safe}}...</p>
                  <a href="{{ item.url|safe }}" class="Carte">site original</a>
              </div>
          </div>
          {% endfor %}
          {% endautoescape %}
      </div>
      
      {% if data.has_other_pages %}
      <div class="pagination">
          {% if data.has_previous %}
          <a href="?page={{ data.previous_page_number }}"> previous </a>
          {% endif %}
      
          <span>    </span>
      
          {% if data.has_next %}
          <a href="?page={{ data.next_page_number }}">    ---- next </a>
          {% endif %}
      </div>
      {% endif %}
      
      








        
        
       
    </body> 
</html>