<!DOCTYPE html>
<html lang="en">
   <head>
     
      <title>Vente Immobilier</title>
      <link rel="icon" href="images/logo.png" type="image/png">
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="index.css">
      <link rel="stylesheet" href="css/responsive.css">
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="css/owl.carousel.min.css">
      <link rel="stylesheet" href="css/owl.theme.default.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

      
   </head>
   <body>
      <div class="">
        <nav class="navbar-expand-lg"  style="background-color: black; height: 100px; padding-top: 0;">
           <div class="container" style="background-color: black; " >
             <a class="logo" href="index.html"><img src="images/logo.png" style="height: 50px;margin-top: 10px; margin-left: -55em;"></a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                 <li class="nav-item"><a class="nav-link" href="index.html" style="margin-top: 20px;margin-left: -60em;">Home</a></li>
                 <li class="nav-item"><a class="nav-link" href="about.html" style="margin-top: 20px;margin-left: -45em;">Statéstique</a></li>
               </ul>
              <form class="form-inline my-2 my-lg-0">
                <div class="search_icon">
                   <ul>
                      <li><a href="shop.html"style="margin-top: 20px;font-size:20px; color:white"> -<i class="fas fa-user"></i>-     </a></li>
                   </ul>
                </div>
             </form>
              </div>    
         </nav>
      </div>
      <br><br><br><br>
         <form>
          <label for="search"> </label>
          <input type="text" id="search" name="search" placeholder="Rechercher">
          <input type="submit" value="Rechercher">
        </form>
        
        <span class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Prix" >
          Prix
        </sp>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-up" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z"/>
          <path fill-rule="evenodd" d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
          <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        </svg>        
        <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Date">
          Date
        </button>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-up" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z"/>
          <path fill-rule="evenodd" d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
          <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        </svg>
         
    
      
     
     
     
      <form class="row gx-3 gy-2 align-items-center">
        <input type="submit" value="Prix">

        <div class="col-sm-3">
          <input type="text" class="form-control" id="specificSizeInputName" placeholder="Min">
        </div>
        <div class="col-sm-3">
          <div class="input-group">
            <input type="text" class="form-control" id="specificSizeInputGroupUsername" placeholder="Max">
          </div>
        </div>
        
    
      <!-- header section end -->
      <!-- banner section start -->
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Ville
        
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item active" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
        </button>
      </div>
     
     
      <div class="design_section layout_padding">
         <div id="my_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                    <!--  <h1 class="design_taital">Notre conception</h1>-->
                     <p class="design_text"></p>
                     <div class="design_section_2">
                        <div class="row">
                           
                           <div class="col-md-4">
                              <div class="box_main">
                                 
                                 <div class="image_3" href="#"><img src="Les images/Capture.PNG"></div>
                                 <p class="chair_text">Appartement s4</p>
                                 <p class="chair_text">Appartement S4 au deuxième étage d’une résidence gardée Marina yassmine hammamet</p>
                                 <div class="buy_bt"><a href="#">Acheter </a></div>
                              </div>
                           </div>
                           
                           
                        </div>
                     </div>
                  </div>
               </div>
                  
            </div>
         </div>      
      </div>
            <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
            <i class="fa fa-long-arrow-left" style="font-size:24px"></i>
            </a>
            <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
            <i class="fa fa-long-arrow-right" style="font-size:24px"></i>
            </a>
         </div>
        
      </div>
       
       
      <!-- contact section end -->
      <!-- footer section start -->
      <div class="footer_section margin_top_90">
        <div class="container">
           <div class="footer_location_text">
              <ul>
                 <li><img src="images/map-icon.png"><span class="padding_left_10"><a href="#">.  </a></span></li>
                 <li><img src="images/call-icon.png"><span class="padding_left_10"><a href="#">.</a></span></li>
                 <li><img src="images/mail-icon.png"><span class="padding_left_10"><a href="#">.</a></span></li>
              </ul>
           </div>
           <div class="row">
              <div class="col-lg-3 col-sm-6">
                 <h2 class="useful_text">. </h2>
                 <div class="footer_menu">
                    <ul>
                       <li><a href="home.html">.</a></li>
                       <li><a href="about1.html">.</a></li>
                       
                       <li><a href="contact.html">.</a></li>
                    </ul>
                 </div>
              </div>
              
              <div class="col-lg-3 col-sm-6">
                 <h2 class="useful_text">.</h2>
                 <div id="social">
                    <a class="facebookBtn smGlobalBtn active" href="#" ></a>
                    <a class="twitterBtn smGlobalBtn" href="#" ></a>
                    <a class="googleplusBtn smGlobalBtn" href="#" ></a>
                    <a class="linkedinBtn smGlobalBtn" href="#" ></a>
                 </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                 <h1 class="useful_text">.</h1>
                 <p class="footer_text">.</p>
              </div>
           </div>
        </div>
     </div>
     <!-- footer section end -->
     <!-- copyright section start -->
    
     <!-- copyright section end -->
     <!-- Javascript files-->
     <script src="js/jquery.min.js"></script>
     <script src="js/popper.min.js"></script>
     <script src="js/bootstrap.bundle.min.js"></script>
     <script src="js/jquery-3.0.0.min.js"></script>
     <script src="js/plugin.js"></script>
     <!-- sidebar -->
     <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
     <script src="js/custom.js"></script>
     <!-- javascript --> 
     <script src="js/owl.carousel.js"></script>
     <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
  </body>
</html>