{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="icon" href="{% static 'logo.png' %}" type="image/png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
 
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="{% static 'index.css' %}">
      
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <style>
      .btn
      {background-color: black;
        width:200px ; 
        height: 50px;
        
        color: aliceblue;

      
      }
    </style>
  </head>
  <body>
    <div class="">
      <nav class="navbar-expand-lg"  style="background-color: black; height: 100px; padding-top: 0;">
         <div class="container" style="background-color: black; " >
           <a class="logo" href="index.html"><img src="{% static 'logo.png' %}" style="height: 50px;margin-top: 10px; margin-left:0em;width: 50px;"></a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}" style=" margin-top: 20px;margin-left:-20em;margin-right:10px;width: 150px;">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="about.html" style="margin-top: 20px;margin-left:-10em;margin-right:10px;width: 150px;">Stats</a></li>
              </ul>            
            
            </div>    
       </nav>
    </div>
    <br><br>
    <div class="container" style=" align-items: center; width: 55%; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),-2px -2px 4px rgba(0, 0, 0, 0.5); background-color: rgb(197, 197, 197); height: 400px;">
          <div style="display: flex; align-items: center; justify-content: center;  text-align: center; height:70px; margin-left: -4em;">
          <img src="{% static 'blacklogo.png' %}" style="height: 70px;width: 70px;"><h1 class="text-center" style="color: black; margin-top: 25px;">Login</h1>
          </div> <br>
        <form action="{% url "login_user" %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Username</label>
                <input name="username" type="text" class="form-control" id="">
              
                <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label> 
                <input name="password" type="password" class="form-control" id="inputPassword3">    
                <br><br>
                <button style="width:200px ; margin-left: 3em;"  type="submit" class="btn">Log In</button>
                <br>
                <a style="width:200px ; margin-left: 5em;" href="{% url 'register' %}">Create an account</a>
              </div> 
          </form>
          <div class="form-group">
            {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
            {% endfor %}
          </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>